<html>
	<head>
		<link rel="stylesheet" href="./styles.css" />
	</head>
	<body>
		<div id="app">
			<!-- where our Vue template code will live -->
			<center>
				<h2>{{ greeting }}</h2>
				<p>by {{ user }} who lives in {{ city }}</p>
				<button v-on:click="changeGreeting">
				Change Greeting
			</center>
		</div>
	
		<script src="https://unpkg.com/vue"></script>
		<script src="./main.js"></script>
	</body>
</html>