html,
body {
  background: #f3f5f6;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

h2 {
  margin-top: 0;
}

p {
  margin-top: 0;
  font-size: 18px;
}